body {
  font-family: Sans-Serif;
  background-color: #FF4747;
  text-align: center;
}

  .main-container {
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
  }

.main-text {
  font-weight:bold;
}